*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Poppins", sans-serif;
}
.banner{
    background-image: url(../image/banner2.png.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-left: 150px; */
    justify-content: center;
    /* padding-bottom: 300px; */
}   
.Skills-padding{
    padding: 70px 0;
}
.ss{
    width: 100vw;
    height: 100vh;
}
.my-name{
    padding-top: 200px;
}